body {
    text-align: center;
     background-color: black;

}

h1 {
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
}

#intro{
    background-color: rgb(222, 148, 171);
}

#origami1{
   background-color:lightcoral;
}

#origami2{
  background-color:lightcoral; 
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}
#p{
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size: 20px;
}